<!doctype html>
<html lang="en" xmlns:th="http://www/thymeleaf.org" th:replace="normal/userbase::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>

<body>
	<section>
		<div class="container w-40">
			<div class="card">
				<div class="card-header">
					<h1 class="text-center text-info" style="font-family: cursive;">User Contact Manager</h1>
				</div>
				<div class="card-body text-center">
					<img th:src="@{'/img/'+${user.uImageUrl}}" style="width: 115px; height: 115px;" alt="" />
					<h3 class="mt-3"><span th:text="${user.uname}"></span></h3>
					<h4 class="font-italic" style="color: gray;font-family:Georgia, 'Times New Roman', Times, serif;">
						Start adding your contact to the cloud...</h4>
					<div class="">
						<a href="" th:href="@{/user/add_contact}" class="btn btn-outline-info"
							style="padding: 5px 25px;border-radius: 20px;font-family: Georgia, 'Times New Roman', Times, serif;">Add
							Contact</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>